
.slideshow{
  margin: 100px auto 100px auto;
}
#slider{
  width:75%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}

.slide{
  width:100%;
  
  display:none;
  animation: fadeInAnimation ease ;
    animation-duration:1s;
}
img{
 width:100%; 
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0.7;
      transition: 0.5s
  }

  100% {
      opacity: 1;
      transition: 0.5s
  }
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:50px;
  height: 37px;
  background-color: white;
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:rgb(74, 74, 74);
  
}

#left-arrow{
  left:20px;
}

#right-arrow{
  right:20px;
}

#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:4px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:crimson;
}
.controls .fa {
  font: 15px FontAwesome;
  color:#65c0ba;
  position: relative;
  bottom: 24px;
}
.controls .fa:hover{
  color: #65c0ba;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}
@media (max-width:480px){
  .controls .fa{
    font: 12px FontAwesome;
  color:#65c0ba;
  position: relative;
  bottom: 26px;
  }
  .controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px 10px;
    border-radius:50px;
    height: 32px;
    background-color: white;
  }
}
@media (max-width:395px){
  .controls .fa{
    font: 12px FontAwesome;
  color:#65c0ba;
  position: relative;
  bottom: 27px;
  }
  .controls{
    position:absolute;
    top:35%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px 10px;
    border-radius:50px;
    height: 32px;
    background-color: white;
  }
  #slider{
    width: 375px;
    height: 375px;
    margin: 8px;
  }
}
@media (max-width:376px){
  #slider{
    width: 350px;
    height: 320px;
    margin: 13px;
  }
}
@media (max-width:360px){
  #slider{
    width: 325px;
    height: 300px;
    margin: 16px;
  }
}
@media (max-width:321px){
  #slider{
    width: 310px;
    height: 295px;
    margin: 3px;
  }
}