.sidebar .search{
    background-color: white;

}
.search input{
margin: 20px;
}
.sidebar .popular-posts{
    background-color: white;
    margin: 20px 0;
    padding: 10px;
}
.categories{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.sidebar .post-now .post-details h4{
font-size:13px;
}
.sidebar .post-now .post-details span{
    font-size: 16px;
}
.categories a{
    color: #65c0ba;
    border-bottom: 1px solid #e9ecef;
    display: block;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    transition: .3s all ease;
    text-decoration: none
}
.categories a:hover{
    color:#6c757d ;

}